.pie-pagina {
    width: 100%;
    background-color: #0a141d;

    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;

        .box h2 {
            color: #fff;
            margin-bottom: 25px;
            font-size: 20px;
        }

        .box {
            figure {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 250px;
                }
            }

        }

        .box p {
            color: #efefef;
            margin-bottom: 10px;
        }

        .red-social a {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: #fff;
            margin-right: 10px;
            background-color: #0d2033;
            text-align: center;
            transition: all 300ms ease;
        }

        .red-social a:hover {
            color: aqua;
        }
    }

    .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;

        .grupo-2 small {
            font-size: 15px;
        }
    }

}